{% extends "base.html" %}


{% block site_meta %}
  {{ super() }}
  {% if page.meta is defined and page.meta.summary is defined %}
    {% set summary = page.meta.summary %}
  {% else %}
    {% set summary = config.site_description %}
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ config.site_name }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:description" content="{{ summary }}" />
  <meta property="og:image" content="/_assets/logo.png" />
  <script defer data-domain="docs.liberaforms.org" src="https://webstats.liberaforms.org/js/plausible.js"></script>
{% endblock %}

{% block fonts %}
    {% set text = "Roboto" %}
    {% set code = "Roboto Mono" %}
    <link rel="stylesheet" type="text/css" href="/_assets/fonts/fonts.css">
    <style>:root{--md-text-font:"{{text}}";--md-code-font:"{{code}}"}</style>
{% endblock %}
